#page
{
	width: 976px;
	margin: 0 auto;
	background: white;
}

#header
{
	background: url("/images/light_stripes.png") no-repeat #DD4814;
	height: 64px;
}

#header img
{
	float: right;
}

#header ul
{
	margin: 0 0 0 16px;
	font-size: 14px;
	line-height: 16px;
}

#header ul li
{
	list-style-type: none;
	float: left;
	padding: 0 0 0 2px;
	height: 64px;
	background: url("/images/topnav_divider.png") no-repeat;
}

#header ul a
{
	padding: 24px 8px;
	color: white;
	text-shadow: 0 1px black;
	display: block;
}
